body{
  background-image: url(https://img.freepik.com/free-vector/seamless-pattern-with-school-office-stationery_107791-9568.jpg?size=626&ext=jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color:rgb(0, 2, 6);
  font-size: 15px;
  font-style: oblique;
  
}
table{
margin-left: 300px;
}
input{
  margin-left: 290px;
  height: 50px;
  width: 450px;
  font-size: 20px;
}
button{
  color: rgb(5, 86, 86);
  background-color: rgb(179, 224, 245);
  width: 100px;
  height: 100px;
  font-size: 20px;
  
  
  
}
button:hover{
  background-color: rgba(142, 42, 165, 0.251);
}
h1{
 margin-left: 300px;
}
